1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 
+	
6 

Following are the Values: hello, -87.8,6
Following are the operators: *, -  ,/,+

2. What is the difference between string and variable?
Answer:
- Variable is a name given to the memory location where the values is stored in the memory – a variables are containers for storing data value, a python variable can take any values, like, int, float or string. 
    Example : Name=’Rosy’ Age=25, weight=55.5
- String represents a text value enclosed with in two double quotes or two single quotes. 
    Example "Rosy", ‘Rosy’

3. Describe three different data types.
Answer: Three data types in python
- int - A positive or negative whole number without a decimal point. example  a = 60
- floating point numbers - A positive or negative whole number with a decimal point. b = 60.5
- string - any text with in two single or double quotes. c = 'Rosy95'

In [1]:
a=60

In [2]:
type(a)

int

In [3]:
b=60.5

In [4]:
type(b)

float

In [5]:
c='Rosy95'

In [6]:
type(c)

str

4. What is an expression made up of? What do all expressions do?
Answer:
- An Expression is a combination of variables and operators. There expressions perform operation of variable based on the operators and evaluates the values to a single variable.

In [10]:
# Variables

a=20
b=10

# Expressions

c=a+b
d=a-b
e=a*b
f=a/b

#evaluates and stores the result
print(c)
print(d)
print(e)
print(f)

30
10
200
2.0

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?
Answer:
- The assignment statemets assign a value to the variable.
Eg:
    spam = 10 , value 10 in assigned to spam, and now spam will have value 10.
- The expressions evaluates  the value to a variable.

- But in expression z = x+y, the value of a depends on the value of x and y.

In [1]:
#Assignment
spam=10
spam

10

In [2]:
#Expression
x=35
y=50
z=x+y
z

85

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1
Answer:
•	bacon will still have value 22.
•	The bacon is assinged with 22, but bacon + 1 is not reassigned to bacon again like, bacon= bacon + 1. So the value of bacon is not changed

In [ ]:
7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3
Answer: Both outputs 'spamspamspam'`

8. Why is eggs a valid variable name while 100 is invalid?
Answer:
- Variable name can not starts with numbers.

In [5]:
eggs=100
eggs

100

In [6]:
100=eggs

SyntaxError: cannot assign to literal (<ipython-input-6-a7200e0aa6ba>, line 1)

9. What three functions can be used to get the integer, floating-point number, or string version of a value?
Answer: The following functions
- int()
- float()
- str()  will convert the values to integer, float or string versions of the values passed to them

In [8]:
a=6.2
print(a)

6.2

In [9]:
int(a)

6

In [10]:
b=9
print(b)

9

In [11]:
float(b)

9.0

In [12]:
c="rosy"
d='mary'
print(c)
print(d)

rosy
mary

In [14]:
str(c)

'rosy'

In [15]:
str(d)

'mary'

10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'
Answer:
- This will error out since string concatenation with integer values cannot be performed.
This can be fixed by converting 99 into string by str (99)

In [20]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [19]:
'I have eaten ' + str(99) + ' burritos'

'I have eaten 99 burritos'